<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    
    
    <div class="container">
      <h1>Sign Up</Form></h1>
    <form style="width: 40%;" method="POST" action="/signup" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="name" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" name="username" required>
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control"  placeholder="Password" name="password" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">C Password</label>
        <input type="password" class="form-control"  placeholder="Password" name="cpassword" required>
      </div>
      <button type="submit" class="btn btn-primary" value="signup" name="submit" href="/passwords">signup</button>
    </form>

    <a href="/">login</a> is signup is successfull
    <h2>
      <% if (msg !=''){ %>
        <%= msg %>
      <%}%>
    </h2>
  </div>
 
  </body>
</html>
